
canvas {
    position:absolute;
    top:55%;
    left:45%;
    margin-left: -200px;
    margin-top: -200px;
    width: 400px;
    height:400px;
}

body{
background: rgb(0, 0, 0);
}

.Testo{
position: absolute;
color: rgb(255, 255, 255);
font-family: Futura;
font-size: 35px;
font-weight: 500;
top:10%;
left:50%;
margin-left: -250px;
margin-top: 0px;	
}

.sottotitolo{
    position: absolute;
    color: rgba(255, 255, 255, 0.872);
    font-family: Futura;
    font-size: 20px;
    font-weight: 100;
    top:10%;
    left:50%;
    margin-left: -250px;
    margin-top: 50px;	
    }

button{
position: relative;
bottom: 40%;
left:60%;
background: none;
height: 20px;
width: 50px;
cursor: pointer;
border: 1px solid grey;
}

.interfaccia {
    position: absolute;
    left:60%;
    top: 38%;
    height: 60px;
    width: 120px;
}

.indice{
    position: absolute;
    color: grey;
    font-family: Futura;
    font-size: 20px;
    right:1%;
    top:1%;
    }