
canvas {
    position:absolute;
    top:55%;
    left:50%;
    margin-left: -200px;
    margin-top: -200px;
    width: 400px;
    height:400px;
}

body{
background: rgb(0, 0, 0);
}

.Testo{
position: absolute;
color: rgb(255, 255, 255);
font-family: Futura;
font-size: 30px;
font-weight: 400;
top:1%;
left:1%;
margin-top: 30px;	
}

button{
position: relative;
bottom: 40%;
left:60%;
background: none;
height: 20px;
width: 50px;
cursor: pointer;
border: 1px solid grey;
}

/*
var {
    color: white;
}
*/

.indice{
    position: absolute;
    color: grey;
    font-family: Futura;
    font-size: 20px;
    left:1%;
    top:1%;
    }

    .interfaccia input[type="number"] {
        height: 15px;
        background-color: rgb(209, 209, 209);
        width: 150px;	
    }